body {
	height: 100vh;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#9eeeff');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#9eeeff')";
	background-image: -moz-linear-gradient(top, #ffffff, #9eeeff);
	background-image: -ms-linear-gradient(top, #ffffff, #9eeeff);
	background-image: -o-linear-gradient(top, #ffffff, #9eeeff);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#9eeeff));
	background-image: -webkit-linear-gradient(top, #ffffff, #9eeeff);
	background-image: linear-gradient(top, #ffffff, #9eeeff);
	text-align: center;
}

#timer {
	font-size: 80px;
	font-family: Arial, sans-serif;
	width: 620px;
	margin: 0 auto;
	margin-top: 100px;
	text-align: justify;
}

.btn {
	margin-top: 30px;
	width: 150px;
	height: 75px;
	font-size: 32px;
}